#TabsToolbar {
  background-color: #282421 !important;
}

.tabbrowser-tab {
  background-color: #282421 !important;
  color: #f1decb !important;
  border-radius: 4px 4px 0 0 !important;
}

.tabbrowser-tab[selected="true"] {
  background-color: #443e37 !important;
}

.tabbrowser-tab:hover {
  background-color: #282421 !important;
}

#nav-bar {
  background-color: #443e37 !important;
}

toolbarbutton, .toolbarbutton-1 {
  fill: #db784d !important;
}

toolbarbutton:hover {
  background-color: #db784d !important;
}

#urlbar, #searchbar {
  background-color: #282421 !important;
  color: #E5F2F0 !important;
  border-radius: 4px !important;
}

menupopup {
  --menu-background-color: #282421 !important;
  --menu-color: #282421 !important;
  --menuitem-hover-background-color: #3E575A !important;
  --menu-border-color: #456464 !important;
}

#PlacesToolbarItems {
  background-color: #443e37 !important;
}

toolbarbutton#tabs-newtab-button {
  background-color: #282421 !important;
  fill: #CAD8D3 !important;
  border-radius: 10px !important;
}

.tabbrowser-tab .tab-icon-image[src*="loading"] {
  filter: hue-rotate(180deg) brightness(1.2) !important;
}
